<%= turbo_stream.replace "todo" do %>
  <%= render partial: 'form', locals: { todo: Todo.new } %>
<% end %>

<%= turbo_stream.update "notice" do %>
  <% if notice.present? %>
    <div class="notification is-info">
      <%= notice %>
    </div>
  <% end %>
<% end %>
